@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

h1 span {
  display: inline-block;
}
